In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("IMDb Movies India.csv",encoding='Latin-1')

In [4]:
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [5]:
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [7]:
df.shape

(15509, 10)

In [8]:
df.describe()

            Rating
count  7919.000000
mean      5.841621
std       1.381777
min       1.100000
25%       4.900000
50%       6.000000
75%       6.800000
max      10.000000

In [9]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [10]:
df['Rating'].value_counts()

6.2     269
6.8     264
6.5     254
6.6     239
6.7     227
       ...
9.6       1
1.4       1
9.7       1
10.0      1
1.1       1
Name: Rating, Length: 84, dtype: int64

In [11]:
df['Rating'].mean()

5.8416214168455545

In [12]:
df["Rating"].fillna(df['Rating'].mean(),inplace=True)

In [13]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating         0
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [14]:
df.duplicated().sum()

6

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.duplicated().sum()

0

In [17]:
df.drop(columns=["Name","Duration"],axis=1,inplace=True)

In [18]:
df.head()

,Year,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,NaN,Drama,5.841621,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,(2019),Drama,7.000000,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,(2021),"Drama, Musical",5.841621,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,(2019),"Comedy, Romance",4.400000,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,(2010),Drama,5.841621,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [19]:
df.isnull().sum()

Year         527
Genre       1876
Rating         0
Votes       7583
Director     524
Actor 1     1615
Actor 2     2381
Actor 3     3140
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15503 entries, 0 to 15508
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      14976 non-null  object
 1   Genre     13627 non-null  object
 2   Rating    15503 non-null  float64
 3   Votes     7920 non-null   object
 4   Director  14979 non-null  object
 5   Actor 1   13888 non-null  object
 6   Actor 2   13122 non-null  object
 7   Actor 3   12363 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.1+ MB

In [21]:
list1=list(df.columns[df.dtypes=="object"])

In [22]:
list1

['Year', 'Genre', 'Votes', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']

In [23]:
for i in list1:
    m=df[i].mode()[0]
    df[i].fillna(m,inplace=True)

In [24]:
df.head()

,Year,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,(2019),Drama,5.841621,8,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,(2019),Drama,7.000000,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,(2021),"Drama, Musical",5.841621,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,(2019),"Comedy, Romance",4.400000,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,(2010),Drama,5.841621,8,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [25]:
df['Rating'].mean()

5.841621416844872

In [26]:
df.fillna(df['Rating'].mean(),inplace=True)

In [27]:
df.isnull().sum()

Year        0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [28]:
df[['Votes']]

      Votes
0         8
1         8
2         8
3        35
4         8
...     ...
15504    11
15505   655
15506     8
15507     8
15508    20

[15503 rows x 1 columns]

In [29]:
df[['Votes']].sample(20)

       Votes
10648     72
5242     213
517        8
10551     22
6985      42
6700       8
1130      94
4641       8
4169      18
14967     73
4439     595
10128     37
2319       8
3293      73
839        8
5060     640
4117   1,336
12873      8
10978    295
4141       8

In [30]:
df.isna().sum()

Year        0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [31]:
df.dtypes

Year         object
Genre        object
Rating      float64
Votes        object
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [32]:
df['Votes'] = df['Votes'].str.replace(',','')
df['Votes'] = df['Votes'].str.replace('.','')
df['Votes'] = df['Votes'].str.strip('$')
df['Votes'] = df['Votes'].str.strip('M')
df['Votes'] = df['Votes'].astype(int)

C:\Users\Jagrati Garg\AppData\Local\Temp\ipykernel_10336\2835848692.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Votes'] = df['Votes'].str.replace('.','')

In [33]:
df['Year']= df['Year'].str.strip('()').astype(int)

In [34]:
df.shape

(15503, 8)

In [35]:
df['Year'].value_counts()

2019    935
2021    392
2018    381
2017    360
2005    346
       ...
1917      1
1913      1
1926      1
1914      1
1924      1
Name: Year, Length: 102, dtype: int64

In [36]:
df.nunique()

Year         102
Genre        485
Rating        85
Votes       2034
Director    5938
Actor 1     4718
Actor 2     4891
Actor 3     4820
dtype: int64

In [37]:
df['Genre encoded'] = round(df.groupby('Genre')['Rating'].transform('mean'),1)
df['Votes encoded'] = round(df.groupby('Votes')['Rating'].transform('mean'),1)
df['Director encoded'] = round(df.groupby('Director')['Rating'].transform('mean'),1)
df['Actor 1 encoded'] = round(df.groupby('Actor 1')['Rating'].transform('mean'),1)
df['Actor 2 encoded'] = round(df.groupby('Actor 2')['Rating'].transform('mean'),1)
df['Actor 3 encoded'] = round(df.groupby('Actor 3')['Rating'].transform('mean'),1)

df.drop(columns=['Genre','Votes','Director','Actor 1','Actor 2','Actor 3'],inplace=True)
df['Rating'] = round(df['Rating'],1)
df.head()

,Year,Rating,Genre encoded,Votes encoded,Director encoded,Actor 1 encoded,Actor 2 encoded,Actor 3 encoded
0,2019,5.8,6.0,5.8,5.8,5.8,5.5,5.8
1,2019,7.0,6.0,5.8,7.0,6.8,7.0,7.0
2,2021,5.8,6.3,5.8,5.8,6.2,6.8,5.8
3,2019,4.4,5.7,5.9,4.4,5.4,4.4,4.4
4,2010,5.8,6.0,5.8,6.3,6.8,5.8,5.5

In [40]:
X=df.drop(columns='Rating')
Y=df[['Rating']]

In [41]:
X

,Year,Genre encoded,Votes encoded,Director encoded,Actor 1 encoded,Actor 2 encoded,Actor 3 encoded
0,2019,6.0,5.8,5.8,5.8,5.5,5.8
1,2019,6.0,5.8,7.0,6.8,7.0,7.0
2,2021,6.3,5.8,5.8,6.2,6.8,5.8
3,2019,5.7,5.9,4.4,5.4,4.4,4.4
4,2010,6.0,5.8,6.3,6.8,5.8,5.5
...,...,...,...,...,...,...,...
15504,1988,5.6,5.4,4.1,6.0,3.7,4.6
15505,1999,5.5,5.9,5.2,5.5,4.6,5.7
15506,2005,5.6,5.8,5.8,5.8,5.9,5.9
15507,1988,5.6,5.8,5.9,5.9,5.9,5.9
15508,1998,5.5,5.7,4.4,5.7,5.5,5.1

In [42]:
Y

       Rating
0         5.8
1         7.0
2         5.8
3         4.4
4         5.8
...       ...
15504     4.6
15505     4.5
15506     5.8
15507     5.8
15508     6.2

[15503 rows x 1 columns]

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=21)

In [45]:
x_train

,Year,Genre encoded,Votes encoded,Director encoded,Actor 1 encoded,Actor 2 encoded,Actor 3 encoded
4617,1989,5.6,5.8,5.9,6.1,5.5,6.0
8557,1965,5.5,6.3,6.2,6.3,6.5,6.4
13836,2008,6.5,5.7,6.9,6.9,6.9,6.2
11646,1995,5.6,5.4,6.0,6.6,5.7,6.3
2067,2019,5.8,5.8,5.8,6.1,5.8,5.8
...,...,...,...,...,...,...,...
48,2019,6.0,5.8,5.9,5.9,5.9,5.9
8967,2020,5.8,5.7,5.7,5.7,5.4,5.8
5947,1937,6.0,5.8,5.8,5.8,5.9,5.8
5330,1989,6.0,5.8,5.4,5.8,6.4,5.4
15311,2001,5.9,5.7,6.2,4.6,4.5,5.4

In [46]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [50]:
rfr=RandomForestRegressor(n_estimators=10, random_state=0, oob_score=True)
rfr.fit(x_train,y_train)

C:\Users\Jagrati Garg\AppData\Local\Temp\ipykernel_10336\537488991.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)
C:\Users\Jagrati Garg\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:560: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(

RandomForestRegressor(n_estimators=10, oob_score=True, random_state=0)

In [51]:
pred=rfr.predict(x_test)

In [52]:
pred

array([5.8 , 7.96, 5.  , ..., 5.79, 5.5 , 5.75])

In [53]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [54]:
score=mean_absolute_error(y_test,pred)

In [55]:
score

0.24949394204634923

In [56]:
scores=r2_score(y_test,pred)
scores

0.7788561516397525

In [57]:
scored=mean_squared_error(y_test,pred)

In [58]:
scored

0.22654927386089335